@import "../bower_components/bootstrap/less/bootstrap.less";
@import "variables.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path:   "../bower_components/font-awesome/fonts";

body {
/*    background: url('../img/default-bg.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100%; */
}
article { margin-bottom: 2.22em; }
a {
    transition: all .25s;
    border-bottom: 1px dashed @splitComp1;
    &:hover {
        transition: all .25s;
        text-decoration:none;
        border-bottom: 1px solid black;
    }
}

.site-branding {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

h1 {
  &.site-title {
    color: @gray-lighter;
    font-size: 3em;
    text-align: center;
    text-shadow: 1px 1px 1px @gray;
    a {
      color: @gray-lighter;
    }
    @media screen and (max-width: @screen-xs-max) {
        font-size: 1.5em;
    }
  }
}

iframe {
    max-width: 100%;
}

.breadcrumbs-container {
  border-bottom: 1px solid darken(@gray-lighter,10%);
}

ul.breadcrumb {
    font-size: @breadcrumb-font-size;
    margin-bottom:0;
}

#global {
    z-index: 100;
    position: fixed;
    left: -(@offcanvas-nav-width);
    width: @offcanvas-nav-width;
    height: 100%;
    overflow-y: scroll;
    background: rgba(0,0,0,.6);
    -webkit-transition: left .25s;
    -moz-transition: left .25s;
    -ms-transition: left .25s;
    -o-transition: left .25s;
    transition: left .25s;
    &.active {
        left: 0;
        -webkit-transition: left .25s;
        -moz-transition: left .25s;
        -ms-transition: left .25s;
        -o-transition: left .25s;
        transition: left .25s;
    }
}

.first-paragraph {
    font-weight: 600;
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
}

.nav-links {
    margin-top: 1em;
    .make-row();

}

.nav-previous, .nav-next {
    &>a {
        padding: 1em;
        .bg-transparent(@splitComp1, .5);
        display: block;
    }
    
}

.nav-previous {
    .make-xs-column(6);
    text-align: left;
    a {
        border-radius: .5em 0 0 .5em;
    }
}
.nav-next {
    .make-xs-column(6);
    text-align: right;
    a {
        border-radius: 0 .5em .5em 0;    
    }
}
#page { background: white; }
#masthead {
    position: relative;
    .bg-transparent(#000, .5);
    height: 20em;
    .sub-categories {
        font-size: .875em;
        background: lighten(@splitComp1,5%);
        a {
            border-radius: .5em .5em 0 0;
            color: white;
            &:hover {
                color: white;
                background: lighten(@splitComp1,10%);
            }
            @media screen and (max-width: @screen-xs-max) {
                border-radius: .25em;
            }
        }
    }
    @media screen and (max-width: @screen-xs-max) {
        height: 5em;
    }
}
.wp-caption {
    max-width: 100%;
    background: lighten(@gray, 60%);
    border: 4px solid darken(@brand-primary, 20%);
    padding: 1em;
    margin: 0 0 .5em 0;
    img {
        margin:auto;
        display:block;
    }
    .wp-caption-text {
        color: @gray-lighter;
        margin-bottom:0;
        padding: .5em;
        background: darken(@brand-primary, 45%);
        font-size: .75em;
    }
    &.alignleft {
        margin-right: 1em;
        float:left;   
    }
    &.alignright {
        margin-left: 1em;
     float:right;   
    }
}

.footer {
    padding: 2em 0;
    a {
        color: lighten(@splitComp3, 40%);
    }
    color: @gray-lighter;
    margin-top: 3em;
    background: darken(@splitComp1, 10%);
}

article {
    .clearfix();
}

.content {
  .make-row();
  .entry-meta {
    .make-sm-column(2);
    text-align: right;
    color: @gray-light;
    a {
      color: lighten(@link-color, 15%);
    }
  }
}

.entry-content,
.entry-summary {
    .make-sm-column(8);    
}

.entry-header {
    text-align: center;
    .make-row();
}

#site-navigation {
    background: @navbar-default-bg;
    margin-bottom: 0;
    text-shadow: 1px 1px 1px @gray;
    a { 
        border-bottom: none; 
        &:hover {
            background: lighten(@navbar-default-bg, 5%);
        }
    }
    .nav {
        font-size: .875em;
        text-transform: uppercase;
        a {
            color: rgb(229,234,173);
        }
    }
}

header {
    &.page-header {
        text-align: center;
        .make-row();
        margin: .5em 0 .25em;
        @media screen and (max-width: @screen-xs-max) {
            margin: .5em 0 .25em;
        }
        border-bottom: 1px solid black;
    }
    .page-header-inner {
        .make-sm-column-offset(1);
        .make-sm-column(10);
    }
    &.site-header {
        background: @splitComp1;
        padding-bottom: 1em;
        position:relative;
        .container {
            width: @screen-sm-min;
            @media screen and (max-width: @screen-sm-min) {
                width: 100%;
            }
        }
    }
    .entry-meta {
        font-size: .75em;
        text-transform: uppercase;
        font-weight: 500;
        font-style: italic;
        padding-bottom: 2em;
        margin-bottom: 2em;
        border-bottom: 1px dashed @gray-light;
    }    
}

.entry-header-content {
    .make-sm-column-offset(1);
    .make-sm-column(10);
}

footer.entry-meta {
    .make-sm-column(2);
    padding: .75em;
}

blockquote {
    font-weight: 300;
    border-top: 1px solid @gray-lighter;
    border-bottom: 1px solid @gray-lighter;
    border-left-color: @splitComp1;
    background: lighten(@gray-lighter, 5%);
}

.cats-and-tags {
  margin-top: 1em;
}